// Imports
@font-face {
    font-family: 'GTCinetypeLight';
    src: url('fonts/GTCinetypeLight-Italic.woff2') format('woff2'),
        url('fonts/GTCinetypeLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lobular';
    src: url('fonts/Lobular-Regular.woff2') format('woff2'),
        url('fonts/Lobular-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTCinetypeMono';
    src: url('fonts/GTCinetypeMono.woff2') format('woff2'),
        url('fonts/GTCinetypeMono.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTCinetypeRegular';
    src: url('fonts/GTCinetypeRegular.woff2') format('woff2'),
        url('fonts/GTCinetypeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTCinetypeRegular';
    src: url('fonts/GTCinetypeRegular-Italic.woff2') format('woff2'),
        url('fonts/GTCinetypeRegular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GTCinetypeBold';
    src: url('fonts/GTCinetypeBold-Italic.woff2') format('woff2'),
        url('fonts/GTCinetypeBold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GTCinetypeBold';
    src: url('fonts/GTCinetypeBold.woff2') format('woff2'),
        url('fonts/GTCinetypeBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTCinetypeLight';
    src: url('fonts/GTCinetypeLight.woff2') format('woff2'),
        url('fonts/GTCinetypeLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@import './animations.scss';

// Variables
$main: #1A1A1A;
$alt: #EFECE4;
$secondary:#059D5D;
html, body {
    margin:0;
    padding:0;
    background-color: $main;
    height: 100%;
    font-family: 'GTCinetypeRegular', 'Avenir', 'Open Sans', 'Arial', sans-serif;
    position: relative;
    overflow: hidden;
    .loaded {
        overflow: scroll; background: #1A1A1A;
        &::before {
            height: 550vh;
            width: 100%;
            position: absolute;
            top: 0;
            content:'';
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-image: url('./bg.png');
            z-index: 3;
        }
    }
    
}

#app {
    height: 100%;
    position: relative;
    z-index: 9;
    .wrapper {
       height: 100%;
       .inner-wrapper {
           height: 100%;
       }
       .loader {
           width: 100%;
           height: 100%;
           color: white;
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
           h1 {
               font-family: 'Lobular';
               font-weight: normal;
               font-size: 130px;
               margin:0
           }
           p {
               font-family: 'GTCinetypeLight', sans-serif;
               font-size: 25px;
               color: rgba(255,255,255,0.7);
           }
       }
       .headline {
           position: relative;
           height: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
           z-index: 9;
           .rock {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            outline: 0 none;
        }
        .headline-content {
            margin: 40px 0;
            position: relative;
            text-align: center;
            z-index: 99;
            h1 {
                margin: 0;
                font-family: 'Lobular';
                color: $alt;
                font-size: 130px;
                font-weight: normal;

            }
            p {
                font-family: 'GTCinetypeRegular', sans-serif;
                color: $alt;
                font-size: 25px;
            }
            
        }
        .cta-scroll {
            animation: float 3s alternate infinite ease-out;
        }
        .headline-data {
            font-family: 'GTCinetypeLight';
            font-size: 15px;
            .label {
                color:rgba(255,255,255,0.5)
            }
            p {
                margin:0;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .bottom-left {
            
                position: absolute;
                color: white;
                bottom: 40px;
                left: 40px;
            }
            .bottom-right {
                position: absolute;
                color: white;
                bottom: 40px;
                right: 40px;
                text-align: right;
            }
            
        }
       } 

       .flore, .timeline {
           margin:300px 0;
           position: relative;
           z-index: 2;
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
           text-align: center;

           .map {
               width: 80%;
           }
           div.button {
               color: white;
               background-color: $main;
               width: 100px;
               height: 45px;
               border-radius: 100%;
               border: 3px solid $secondary;
               display: flex;
               justify-content: center;
               align-items: center;
               position: relative;
               cursor: pointer;
               &::before {
                   position: absolute;
                   width: 600px;
                   height: 3px;
                   content:'';
                   background-color: $secondary;
                   left: -300px;
                   z-index: -20;
               }
               &::after {
                position: absolute;
                width: 300px;
                height: 3px;
                content:'';
                background-color: $secondary;
                right: -300px;
                
            }
           }
            .loader {
                display: none;
            }
           .navigate-years {
               margin-top: 50px;
               width: 50%;
               display: flex;
                   justify-content: center;
                   align-items:center;
                   color: $secondary;
                   font-size: 20px;
                   img {
                       cursor: pointer;
                   }
               div, span {
                   width: 30%;
               }
               div {
                   display: flex;
                   justify-content: center;
                   align-items:center;
               }
           }

           .navigate-trees {
               padding: 40px 0;
            width: 30%;
            display: flex;
                justify-content: center;
                align-items:center;
                color: $secondary;
                font-size: 20px;
                img {
                    cursor: pointer;
                }
            div, span {
                width: 30%;
            }
            div {
                display: flex;
                justify-content: center;
                align-items:center;
            }
        }
        .platanus, .bloom {
            position: relative;
            width: 100%;
            .infos-tree {
                position: absolute;
                width: 100%;
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    text-align: left;
                    color: rgba(255,255,255,0.50);
                    position: absolute;
                    font-family: 'GTCinetypeLight',serif;
                    left: 10%;
                    span {
                        color: white;
                        font-family:'GTCinetypeBold', serif;
                    }
                    li {
                        position: relative;
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    &:first-child {
                        top: 250px;
                        &::after {
                            width:138px;
                            height: 137px;
                            position: absolute;
                            content:'';
                            background-image: url('./stat-left.svg');
                            right: -138px;
                            bottom: 0;
                        }

                    }
                    &:last-child{
                        text-align: right;
                    right: 10%;
                    width: auto;
                    left: inherit;
                    &::before {
                        width:155px;
                        height: 144px;
                        position: absolute;
                        content:'';
                        background-image: url('./stat-right.svg');
                        left: -165px;
                        bottom: -50px;
                    }
                    
                    }
                }
            }
        }
        .sub-info {
            color: white !important;
            display: flex;
            img {
                width: 20px;
                margin-right: 10px;
            }
        }
            .sub {
                display: flex;
                justify-content: center;
           align-items: center;
           flex-direction: column;
           text-align: center;
                h2 {
                    margin: 0;
                    font-family: 'Lobular';
                    color: $alt;
                    font-size: 60px;
                    font-weight: normal;
        
                }
                p {
                    padding-top: 33px;
                    color: rgba(255,255,255,0.50);
                    margin:0;
                    max-width: 400px;
                    text-align: center;
                    
                }
            }
            .infos {
                margin-top: 20px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 100%;
                .infos-element {
                    width: 330px;
                    color: rgba(255,255,255,0.5);
                    b {
                        color: white;
                    }
                    h2 {
                        color: white;
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        font-size: 13px;
                        li {
                            margin-bottom: 10px;
                            &::before {
                                content:'-';
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
       }
    }
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .8s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }